<div class="container overlay" *ngIf="visible">
	<!-- Tinted background -->
	<div class="overlay overlay-bg" (click)="hide()"></div>

	<!-- Visible card with media -->
	<div class="overlay-card">
		<!-- Close button -->
		<button type="button" (click)="hide()" class="btn"><i class="fa fa-close"></i></button>

		<!-- Image template -->
		<ng-template #image>
			<img (load)="imageLoaded = true" (middleclick)="openImageInNewWindow()" [ngClass]="{'loading': !imageLoaded}"
			src='{{media?.mediaUrl}}' alt="{{media?.mediaUrl}}">
		</ng-template>

		<!-- Shown while video resolves -->
		<ng-template #poster>
			<img (load)="imageLoaded = true" (middleclick)="openImageInNewWindow()" [ngClass]="{'loading': !imageLoaded}"
			src='{{media?.thumbnailUrl}}' alt="{{media?.thumbnailUrl}}">
		</ng-template>

		<!-- Video template -->
		<!-- GIFs will autoplay, loop with no controls -->
		<!-- Videos will autoplay, show controls and be muted -->
		<!-- Not using source tags as they don't update correctly -->
		<!-- fragmentVideo() is a fix for stuttering videos on PC -->
		<!-- playsinline is for iOS, muted delcared twice as some are not respected -->
		<ng-template #video>
			<video #videoplayer (middleclick)="openImageInNewWindow()"
					src='{{media?.mediaUrl}}'
					poster="{{media?.thumbnailUrl}}"
					loop playsinline muted autoplay
					preload="metadata"
					[muted]="'muted'"
					[controls]='media?.type === "video" ? "controls" : ""'
					(playing)="imageLoaded = true"
					(canplay)="fragmentVideo(videoplayer)"
					(error)="fragmentVideo(videoplayer)"
					(stalled)="fragmentVideo(videoplayer)"
					>
					<p>Videos are not supported by your browser</p>
			</video>
		</ng-template>

		<!-- Select image or video -->
		<ng-container *ngIf='media?.type === "photo"; then image'></ng-container>
		<ng-container *ngIf='media?.type !== "photo" && videoResolved; then video'></ng-container>
		<ng-container *ngIf='media?.type !== "photo" && !videoResolved; then poster'></ng-container>

		<!-- Reference bar, link to tweet and show handle -->
		<a class="info-bar" href='{{media?.tweetUrl}}' title="View Tweet on Twitter" target="_blank">
			<i class="info-at fa fa-at"></i>
			<span class="info-author">{{media?.handle}}</span>
			<i class="info-twitter fa fa-twitter"></i>
		</a>

		<!-- Loading spinner for images only -->
		<div *ngIf="!imageLoaded" class="spinner">
			<div class="spinner-border" role="status"> <span class="sr-only">Loading...</span> </div>
		</div>
	</div>
</div>