@font-face {
	font-family: "Outfit";
	src: url("assets/Outfit/Outfit-VariableFont_wght.ttf");
}

@keyframes fadeInFromNone {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
	background-color: rgb(21 38 54);
	color: white;
	font-family: "Outfit";
	user-select: none;
	overflow-x: hidden;
	touch-action: pan-y;
}

.popover  {
	font-family: "Outfit";
	background-color: rgb(75, 92, 108);
	transform: unset !important;
	width: max-content;
	/* top: -8px !important;
	left: -100% !important; */
}

.popover-header {
	background-color: rgb(42, 58, 72);
	border-bottom: 1px solid #7a8691;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.popover-header button, .popover-header button:hover {
	color: white;
	padding: 0;
}

.popover-body {
	color: white;
}

.popover .arrow {
	display: none;
}

.popover .arrow::after, .popover .popover-header::before {
	border-bottom-color: rgb(42, 58, 72);
}