@font-face {
	font-family: "Outfit";
	src: url("assets/Outfit/Outfit-VariableFont_wght.ttf");
  }

body {
	background-color: rgb(21 38 54);
	color: white;
	font-family: "Outfit";
	user-select: none;
}

.footer, .footer a {
	color: rgb(107, 124, 170);
}

.card {
	background-color: rgb(75 92 108);
}