<div class="container">
	<div class="row">
		<div class="col nav-col">
			<div class="card p-2 mt-5 mb-5">
				<form role="form" class="form-inline" (ngSubmit)="searchUser()">
					<i class="fa fa-search label-at"></i>
					<input type="text" [(ngModel)]="model.handle" class="form-control flex-grow-1" name="handle" placeholder="@, # or keyword" autocomplete="off" />
					<button [disabled]="!model.handle || model.loadingTimeline || (model.handle | lowercase) === (timeline?.username | lowercase)"
							type="submit" class="btn btn-primary ml-2 mr-2" 
							[ngClass]="{'btn-secondary': !model.handle}">
						<i *ngIf="!model.loadingTimeline" class="fa fa-search"></i>
						<span *ngIf="model.loadingTimeline" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
					</button>
					<div class="btn-group btn-group-toggle">
						<label class="btn-primary" ngbButtonLabel [ngClass]="{'btn-secondary': !model.showPhotos || !timeline?.media}">
							<input [disabled]="!timeline?.media" name="showphotos" type="checkbox"
								ngbButton [(ngModel)]="model.showPhotos"
								(click)="model.showPhotos = !model.showPhotos; !model.showPhotos && !model.showVideos ? model.showVideos = true : model.showVideos = model.showVideos">
							<i class="fa fa-image"></i>
						</label>
						<label class="btn-primary" ngbButtonLabel [ngClass]="{'btn-secondary': !model.showVideos || !timeline?.media}">
							<input [disabled]="!timeline?.media" name="showvideos" type="checkbox"
								ngbButton [(ngModel)]="model.showVideos"
								(click)="model.showVideos = !model.showVideos; !model.showVideos && !model.showPhotos ? model.showPhotos = true : model.showPhotos = model.showPhotos">
							<i class="fa fa-film"></i>
						</label>
						<label ngbButtonLabel [ngClass]="{'btn-secondary': !model.nsfw || !timeline?.media, 'btn-danger': model.nsfw}">
							<input [disabled]="!timeline?.media" name="nsfw" type="checkbox"
								ngbButton [(ngModel)]="model.nsfw"
								(click)="enableExplicit()">
							18+
						</label>
					</div>
				</form>
			</div>
		</div>
	</div>

	<h4 *ngIf="timeline?.error">{{timeline?.error}}</h4>

	<div class="row justify-content-center">
		<span *ngIf="model.loadingTimeline" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
		<ng-container *ngFor="let media of timeline?.media">
			<div class="col-sm-0" *ngIf="(media.type === 'photo' && model.showPhotos || media.type !== 'photo' && model.showVideos) && (!media.possiblySensitive || media.possiblySensitive && model.nsfw)">
				<div class="card-img-wrapper p-1">
					<a *ngIf="media.type !== 'photo'" href="{{media.tweetUrl}}" target="_blank">
						<img src='{{media.thumbnailUrl}}' alt='{{media.thumbnailUrl}}' class="card-img" draggable="false" />
					</a>
					<img *ngIf="media.type === 'photo'" src='{{media.thumbnailUrl}}'
						alt='{{media.thumbnailUrl}}' class="card-img" (click)="openImageModal(media)"
						(middleclick)="openLink(media.mediaUrl)" draggable="false" />
					<span class="media-type">
						<i class="fa"
							[ngClass]="{'fa-image': media.type === 'photo', 'fa-film': media.type !== 'photo'}"></i>
					</span>
					<span class="media-visit">
						<a href='{{media.tweetUrl}}' target="_blank"
							[ngClass]="{'forced-ext-link': media.type !== 'photo'}">
							<i class="fa fa-external-link-square"></i>
						</a>
					</span>
				</div>
			</div>
		</ng-container>
	</div>

	<div class="row justify-content-center" *ngIf="futureTimeline?.media && model.multiplePages">
		<button [disabled]="model.loadingNextPage" ngbButton class="btn btn-primary mt-5" (click)="getNextPage()">
			<ng-container *ngIf="!model.loadingNextPage">Load more results</ng-container>
			<span *ngIf="model.loadingNextPage" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
		</button>
	</div>

	<div class="row justify-content-center" *ngIf="!futureTimeline?.media && model.multiplePages">
		<h4 class="mt-5">You've gone as far back as I can show!</h4>
	</div>
</div>
