.footer, .footer a {
	color: rgb(107, 124, 170);
}

h4 {
	text-align: center;
}

.scroll-to-top {
	animation: fadeInFromNone 0.125s ease-in;
	cursor: pointer;
	position: fixed;
	color: #ccd4db;
	font-weight: bold;
	font-size: 60px;
	text-shadow: 0 0 12px #0f1820;
	right: 5vw;
	width: 50px;
	height: 50px;
	bottom: 5vh;
}

.scroll-to-top:hover {
	color: #57a4f1;
}