<div class="col-sm-0">
	<div class="card-img-wrapper p-1">
		<!-- Video or Animated GIF -->
		<!-- Replace this with a video player when possible -->
		<a *ngIf='media?.type !== "photo"' href="{{media?.tweetUrl}}" target="_blank">
			<img src='{{media?.thumbnailUrl}}' 
				alt='{{media?.thumbnailUrl}}' 
				class="card-img" 
				draggable="false" 
				(load)="imageLoaded = true" />
		</a>

		<!-- Photo -->
		<img *ngIf='media?.type === "photo"'
			src='{{media?.thumbnailUrl}}'
			alt='{{media?.thumbnailUrl}}'
			class="card-img"
			draggable="false"
			(click)="openOverlay.emit()"
			(middleclick)="openLink(media?.mediaUrl)" 
			(load)="imageLoaded = true" />
			
		<!-- Media type icon -->
		<span class="media-type">
			<i class="fa" [ngClass]="{'fa-image': media?.type === 'photo', 'fa-film': media?.type !== 'photo'}"></i>
		</span>

		<!-- External link -->
		<!-- Forced opaque if media is external (video, animated gif) -->
		<!-- Forced visible & opaque if on a touch device -->
		<span class="media-visit">
			<a href='{{media?.tweetUrl}}' target="_blank" [ngClass]="{'forced-ext-link': media?.type !== 'photo'}">
				<i class="fa fa-external-link-square"></i>
			</a>
		</span>

		<!-- Loading spinner for image -->
		<div *ngIf="!imageLoaded" class="spinner">
			<div class="spinner-border text-primary" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
</div>